@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

//  colors
$mainColors: #0536FC;
$secondColors: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin fontParagraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $mainColors;
    opacity: 0.9;
}

@mixin fontTitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 59px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
}
body {
    margin: 0 auto;
    max-width: 1440px;
}

.header__container {
    position: relative;
    width: 100%;
    padding: 50px 0 0 210px;
    .header__block {
        @include fontParagraph();
        margin-bottom: 2rem;
    }
    h3 {
        @include fontTitle();
        margin-bottom: 4rem;
    }
    .header__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: #000000;
        opacity: 0.6;
        margin-bottom: 4rem;
    }
}
.btn-group {
    width: 100%;
}
.btn-primary {
    // width: 100%;
    height: 90px;
    text-transform: uppercase;
}
.arrow {
    position: absolute;
    bottom: 1px;
    right: 20px;
}
.main {
    position: relative;
}
.main__bg {
    max-width: 100%;
    height: 1100px;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main__box {
    padding: 30px 0 0 100px;
    background-color: #FFFFFF;
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 719px;
    height: 683px;
    .main__block {
        @include fontParagraph();
        margin-bottom: 2rem;
    }
    h3 {
        @include fontTitle();
        margin-bottom: 4rem;
    }
    .main__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: #000000;
        opacity: 0.6;
        margin-bottom: 4rem;
    }
}
#footer {
    padding-top: 40px;
}
.btn-outline-primary {
    text-transform: uppercase;
}

@media (max-width: 720px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .main__bg {
        width: 100%;
        height: 200px;
        background-size: cover;
    }
    .main__box {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .header__container {
        padding: 30px 0 0 100px;
    }
}
@media (max-width: 510px) {
    body {
        min-width: 320px;
    }
    .header__container {
        padding: 10px 10px 0 30px;
        h3 {
            font-size: 26px;
            margin-bottom: 2rem;
        }
        .header__block, p {
            margin-bottom: 0.5rem;
        }
    }

    .main__box {
 padding: 10px 10px 0 30px;
        h3 {
            font-size: 26px;
            margin-bottom: 1rem;
         }
        .main__block, p {
            margin-bottom: 0.5rem; 
          }
        }
        .btn-block {
            display: flex;
            justify-content: center;
}
}